<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>629786818910-tprrpt5emmgpk9h5i5it6pac7s1a7mhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629786818910-tprrpt5emmgpk9h5i5it6pac7s1a7mhp</string>
	<key>API_KEY</key>
	<string>AIzaSyB9qYNQEfSSRN10fvz4HSV0Vz1XP8CMIa0</string>
	<key>GCM_SENDER_ID</key>
	<string>629786818910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bartindr.Bartinderr</string>
	<key>PROJECT_ID</key>
	<string>bartinder-f0bfb</string>
	<key>STORAGE_BUCKET</key>
	<string>bartinder-f0bfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629786818910:ios:ad8e779163f4768a</string>
	<key>DATABASE_URL</key>
	<string>https://bartinder-f0bfb.firebaseio.com</string>
</dict>
</plist>